.layout_pokedex {
    display: flex;
    min-height: calc(100vh - var(--altura-topo));
    background-color: var(--surface);
}

.conteudo_dex {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container_pokedex {
    width: 100%;
}

.teste_dex {
    width: 100%;
    padding: var(--esp-padrao);
    display: flex;
    justify-content: center;
    gap: var(--gap);
    flex-wrap: wrap;
}