.layout_pokedex {
    display: flex;
    min-height: calc(100vh - var(--altura-topo));
    background-color: var(--red);
}

/* botoes de exibição da dex */
.view_toggle {
    display: flex;
    gap: var(--gap);
    padding: var(--esp-micro);
}

.view_toggle button {
    cursor: pointer;
    padding: var(--esp-micro) var(--esp-pequeno);
    display: flex;
    gap: 1rem;
    align-items: center;

    font-size: var(--fs-normal);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid var(--text);
    border-radius: var(--radius-p);
    background-color: var(--surface);
    color: var(--text-secondary);
}

.icone_botao {
    width: 35px;
    height: auto;
}

.view_toggle button.ativo {
    background-color: var(--accent-hover);
    color: var(--accent-text);
}

/* conteudo da pokedex */
.conteudo_dex {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.config_area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
}

.botao_filtro {
    cursor: pointer;
    position: fixed;
    top: 70px;
    left: 16px;
    z-index: 40;

    padding: 8px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--text-secondary);
    color: var(--surface);
    border: none;
    border-radius: var(--radius-p);
}

.icone_filtro {
    width: 24px;
    height: auto;
}

.container_pokedex {
    width: 100%;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--accent-overlay);
    z-index: 40;
}

.teste_dex {
    width: 100%;
    padding: var(--esp-padrao) 0;
    display: flex;
    justify-content: center;
    gap: var(--gap);
    flex-wrap: wrap;
}

.lista_dex {
    width: 100%;
    padding: var(--esp-padrao) 0;
    max-width: 294px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* media-query */
@media screen and (min-width: 950px) {
    .overlay {
        display: none;
    }

    .botao_filtro {
        display: none;
    }
}

@media screen and (min-width: 455px) {
    .lista_dex {
        max-width: 400px;
    }
}

@media screen and (min-width: 560px) {
    .lista_dex {
        max-width: 490px;
    }
}