.layout_pokedex {
    display: flex;
    height: calc(100vh - var(--altura-topo));
}

.conteudo_dex {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container_pokedex {
    width: 100%;
}