.card_container {
    width: 290px;
    height: 280px;

    padding: var(--esp-pequeno);
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    background-color: var(--surface);
    border: 3px solid var(--text);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--font-pokemon);
}

/* separação, area de cima */
.card_cima {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    gap: 0.6rem;
}

/* area imagem/ nº dex */
.sprite_area {
    height: 100px;
    padding-left: -(var(--esp-pequeno));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.image {
    width: 11rem;
    height: auto;
}

.dex_num {
    align-self: center;
    color: var(--accent);
    font-size: var(--fs-card-nome);
}

/* area dos dados/tipos */

.header_poke {
    max-width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    border-right: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
}

.nome {
    padding-top: 0.2rem;
    color: var(--accent);
    font-size: var(--fs-card-nome);
}

.tipos_area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tipos_desc {
    padding-left: var(--esp-pequeno);
    color: var(--text);
}

.tipos {
    padding-left: var(--esp-padrao);
    color: var(--text-secondary);
}

/* area de stats */

.stats_area {
    padding: var(--esp-pequeno) var(--esp-medio);
    display: flex;
    justify-content: center;
    border: 2px solid var(--text);
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    list-style-type: none;
}

.stats_li {
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: var(--fs-card-stats);
    justify-content: space-between;
}

.stats_li:nth-child(odd) {
    color: var(--text);
}

.stats_li:nth-child(even) {
    color: var(--text-secondary);
}

.stats_li strong {
    font-weight: 500;
}

@media screen and (min-width: 400px) {
    .card_container {
        width: 100%;
        max-width: 270px;
    }

    .sprite_area {
        width: 9rem;
    }

    .stats_area {
        padding: var(--esp-pequeno);
    }
}