.fundo_topo {
    position: sticky;
    top: 0;
    z-index: 1001;

    display: flex;
    align-items: center;

    background: var(--surface);
    border-bottom: 1px solid var(--border);
    box-shadow: var(--shadow);
    transition: var(--tr-rapida);
}

.container_base {
    width: 100%;
    position: relative;
    max-width: var(--container);
    margin: 0px auto;
    padding: var(--esp-micro) var(--esp-padrao);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}

/* botao menu */
.menu_botao {
    padding: 3px var(--esp-pequeno);
    cursor: pointer;
    font-size: var(--fs-grande);
    background-color: var(--accent);
    color: var(--accent-text);
    border: 1px solid var(--border);
    border-radius: var(--radius-p);
}

.menu_botao:hover {
    background-color: var(--accent-hover);
}

/* nav padrao no mobile */
.nav {
    display: none;
    align-items: center;
    gap: 1rem;
    background: var(--surface);
    transition: var(--tr-rapida);
}

/* nav quando for clicado pra abrir o menu no mobile */
.nav_aberto {
    height: 125px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;

    padding: var(--esp-pequeno);
    background: var(--accent);
    border-bottom: 3px solid var(--accent-hover);
    border-top: 3px solid var(--accent-hover);
    color: var(--accent-text);
}

.link_nav {
    width: 100%;
    height: auto;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-family: var(--font-pokemon);
    letter-spacing: 1px;

    color: var(--accent-color);
    font-size: var(--fs-pequeno);
    font-weight: 500;
    text-decoration: none;
    line-height: 1;
}


.icone_wrap,
.texto_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.icone_seta {
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.03em;

    color: var(--accent);
}


.link_nav:hover .icone_seta {
    transition: var(--tr-media);
    color: var(--accent-text);
}

.link_nav span {
    transition: var(--tr-rapida);
}


/* select de versao do jogo */
.container_paleta {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.select_btn {
    cursor: pointer;
    padding: var(--esp-micro) var(--esp-pequeno);

    color: var(--accent-text);
    border: 1px solid var(--border);
    border-radius: var(--radius-p);
    font-size: var(--fs-pequeno);
    background-color: var(--accent);
}

/* botao do dark mode */
.mudar_fundo {
    display: flex;
    gap: var(--gap);
}

.mode_btn {
    background: var(--bg);
    border-radius: 100%;
    border: 2px solid var(--accent);
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .15s ease, box-shadow .15s ease;
}

.mode_btn:hover {
    background-color: var(--bg-hover);
}

.mode_btn:active {
    transform: scale(.92);
    background-color: var(--bg-hover);
}

/* >>>>>>>> Media Query - Desktop <<<<<<<<*/
@media screen and (min-width: 410px) and (max-width: 767px) {
    .nav {
        gap: 0;
    }

    .nav_aberto {
        height: 60px;
        flex-direction: row;
    }

    .link_nav {
        width: auto;
        padding: var(--esp-micro) var(--esp-padrao);
    }

    .icone_seta {
        top: -0.05em;
    }
}

@media screen and (min-width: 768px) {
    .menu_botao {
        display: none;
    }

    .nav {
        height: 100%;
        position: static;
        display: flex;
        flex-direction: row;
        background: var(--surface);
        color: var(--text-secondary);
    }

    .nav_aberto {
        color: var(--text-secondary);
        border: none;
    }

    .link_nav {
        width: auto;
        padding: var(--esp-micro);
        color: var(--text-secondary);
        font-weight: 500;
        border-radius: 0px;
        transition: var(--tr-media);
    }

    .link_nav:hover {
        color: var(--text);
        transition: var(--tr-media);
    }

    .icone_seta {
        color: transparent;
    }

    .link_nav:hover .icone_seta {
        color: var(--text);
        transition: var(--tr-media);
    }
}