@font-face {
    font-family: PokemonGB;
    src: url(/fonts/PokemonGb-RAeo.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    /*--------- cores -----------*/
    /* fundo */
    --bg-1: #f8f1f1;
    --bg-2: #ffffff;
    --hover: rgba(0, 0, 0, 0.2);
    --bg-2-dark: #252424;
    --bg-1-dark: #0D0D0D;
    --hover-dark: rgba(255, 255, 255, 0.2);

    /* texto */
    --text-1: #080f1d;
    --text-2: #485262;
    --text-1-dark: #ffffff;
    --text-2-dark: #b5b5b5;

    /* borda */
    --border-light: rgba(0, 0, 0, 0.18);
    --border-dark: rgba(255, 255, 255, 0.18);

    /* sombra */
    --shadow-light: 0 6px 20px rgba(0, 0, 0, .12);
    --shadow-dark: 0 6px 20px rgba(255, 255, 255, 0.12);

    /* Tokens (caso falhem os dark/light mode */
    --bg: var(--bg-1);
    --surface: var(--bg-2);

    --text: var(--text-1);
    --text-secondary: var(--text-2);

    --border: var(--border-light);
    --shadow: var(--shadow-light);

    /* Accents */
    --accent: #f22350;
    --accent-hover: #ad1a44;
    --accent-overlay: #f2235050;
    --accent-soft: rgba(225, 29, 72, .1);
    --accent-text: rgb(255, 255, 255);

    /* ------ textos ------ */
    /* fontes titulos */
    --fs-h1: 3.2rem;
    --fs-h2: 2.4rem;
    --fs-h3: 2.0rem;

    /* fonte-especial */
    --pkm-h1: 3rem;
    --pkm-h2: 1.9rem;
    --pkm-icon: 3.2rem;
    --pkm-icon-h2: 2.4rem;
    --pkm-h1-mobile: 2.7rem;
    --pkm-h2-mobile: 1.7rem;
    --pkm-icon-mobile: 3rem;

    /* fontes texto */
    --fs-titulo: 2rem;
    --fs-grande: 1.8rem;
    --fs-normal: 1.6rem;
    --fs-pequeno: 1.4rem;
    --fs-mini: 1.2rem;
    --fs-card-nome: 1.1rem;
    --fs-card-stats: 1.1rem;

    /* line-heights */
    --lh-texto: 1.5;
    --lh-titulo: 1.35;

    /* Fonte especial */
    --font-pokemon: "PokemonGB", monospace;

    /*------- bordas -------*/
    --radius-p: 0.6rem;
    --radius-m: 1.0rem;
    --radius-g: 1.6rem;

    /*------- espaçamentos -------*/
    --esp-secao: 4.8rem;
    --esp-grande: 3.2rem;
    --esp-medio: 2.4rem;
    --esp-padrao: 1.6rem;
    --esp-pequeno: 1.2rem;
    --esp-micro: 0.6rem;

    /* Gap */
    --gap: 1.6rem;
    --gap-grande: 4rem;

    /* -------- Layout -------- */
    --container: 120rem;
    --container-texto: 80rem;
    --container-aside: 27rem;
    --altura-topo: 6.5rem;

    /* -------- Transições -------- */
    --tr-rapida: .25s ease;
    --tr-media: .40s ease;
    --tr-aside: .50s cubic-bezier(0.4, 0, 0.2, 1);
}


/* eliminar estilos padrões diferentes dos navegadores, por isso usar before e after */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

.layout_pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout_main {
    flex: 1;
    display: block;
}


/* Fonte padronizada, pra deixar 1rem = 10px */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--text-1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: var(--tr-rapida);
}

/* modo claro do site */
body.light_mode {
    --bg: var(--bg-1);
    --surface: var(--bg-2);
    --bg-hover: var(--hover);

    --text: var(--text-1);
    --text-secondary: var(--text-2);

    --border: var(--border-light);
    --shadow: var(--shadow-light);
}

/* modo escuro do site */
body.dark_mode {
    --bg: var(--bg-1-dark);
    --surface: var(--bg-2-dark);
    --bg-hover: var(--hover-dark);

    --text: var(--text-1-dark);
    --text-secondary: var(--text-2-dark);

    --border: var(--border-dark);
    --shadow: var(--shadow-dark);
}

/* tema pokemon red */
.pallete_red {
    --accent: #f22350;
    --accent-hover: #9c153c;
    --accent-overlay: #f2235050;
    --accent-soft: rgba(225, 29, 71, 0.35);
    --accent-text: rgb(255, 255, 255);
    --accent-descricao: var(--text-2-dark);

}

/* tema pokémon blue */
.pallete_blue {
    --accent: #2563eb;
    --accent-hover: #173ea9;
    --accent-overlay: #2564eb50;
    --accent-soft: rgba(37, 99, 235, 0.35);
    --accent-text: rgb(255, 255, 255);
    --accent-descricao: var(--text-2-dark);
}

/* tema pokémon yellow */
.pallete_yellow {
    --accent: #eab308;
    --accent-hover: #b78416;
    --accent-overlay: #eab30850;
    --accent-soft: rgba(234, 179, 8, 0.35);
    --accent-text: var(--text-1);
    --accent-descricao: var(--text-2);
}

/* ---------> configurações das paginas <--------- */
/* configurações basicas da página */
.container_base {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--esp-padrao) var(--esp-secao);

    display: flex;
    flex-direction: column;
    gap: var(--gap-grande);
    align-items: center;

    background-color: var(--bg);
    transition: var(--tr-rapida);
}

.section_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

/* titulos e paragrafos */
.titulo_area {
    margin-bottom: var(--esp-pequeno);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1_icone,
.h2_icone,
.icone_li {
    width: 1.15em;
    height: 1.15em;
}

.h1_icone,
.h2_icone {
    display: block;
    position: relative;
    top: -0.15em;
}

.icone_wrap,
.texto_titulo,
.texto_li {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.titulo_h1,
.subtitulo_h2 {
    font-family: var(--font-pokemon);
    letter-spacing: 1px;
    color: var(--text);
    text-transform: uppercase;
}

.titulo_h1 {
    margin-top: var(--esp-secao);
    padding: var(--esp-micro);
    display: flex;
    gap: 1rem;
    align-items: center;

    font-size: var(--pkm-h1-mobile);
    line-height: var(--lh-titulo);
    text-align: center;
}

.h1_icone {
    color: var(--accent);
}

.paragrafo_h1 {
    font-size: 23px;
    color: var(--accent);
    text-align: center;
}

.subtitulo_h2 {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.5rem;
    font-size: var(--pkm-h2-mobile);
    margin-bottom: var(--esp-pequeno);
}

.h2_icone {
    color: var(--text);
}

.texto_p {
    max-width: var(--container-texto);
    color: var(--text-secondary);
    line-height: var(--lh-texto);
    font-size: var(--fs-normal);
    text-align: justify;
    align-self: flex-start;
}

.texto_p strong {
    color: var(--text);
}

/* listas */
.lista_ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.lista_li {
    padding-left: var(--esp-pequeno);
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    list-style-type: none;
    font-size: var(--fs-normal);
    color: var(--text-secondary);
    line-height: var(--lh-texto);
}

.icone_li {
    color: var(--accent);
}

/* links */
.link_main {
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
}

.link_main:hover {
    color: var(--accent-hover);
}

/* media-query */
@media screen and (min-width: 768px) and (max-width: 899px){
    .titulo_h1 {
        font-size: var(--pkm-h1);
        flex-direction: row;
    }

    .h1_principal {
        font-size: var(--pkm-h1);
    }

    .subtitulo_h2 {
        font-size: var(--pkm-h2);
    }

    .lista_li {
        margin-left: var(--esp-medio);
    }

    .h1_icone,
    .h2_icone {
        top: -0.08em;
    }

}

@media screen and (min-width: 900px) {
    .h1_icone,
    .h2_icone {
        top: 0;
    }
}