:root {
  /*--------- cores -----------*/
  /* fundo */
  --bg-1: #fafafa;
  --bg-2: #ffffff;
  --bg-1-dark: #0D0D0D;
  --bg-2-dark: #1C1C1C;

  /* texto */
  --text-1: #111827;
  --text-2: #374151;
  --text-1-dark: #ffffff;
  --text-2-dark: #b5b5b5;

  /* borda */
  --border-light: rgba(0, 0, 0, .08);
  --border-dark: rgba(255, 255, 255, .12);

  /* sombra */
  --shadow-light: 0 6px 20px rgba(0, 0, 0, .12);
  --shadow-dark: 0 6px 20px rgba(0, 0, 0, .55);

  /* Tokens (caso falhem os dark/light mode */
  --bg: var(--bg-1);
  --surface: var(--bg-2);

  --text: var(--text-1);
  --text-secondary: var(--text-2);

  --border: var(--border-light);
  --shadow: var(--shadow-light);

  /* Accents */
  --accent: #e11d48;
  --accent-hover: #9f1239;
  --accent-soft: rgba(225, 29, 72, .1);
}


/* eliminar estilos padrões diferentes dos navegadores, por isso usar before e after */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte padronizada, pra deixar 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-1);
  color: var(--text-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  min-height: 100vh;
}

/* modo claro do site */
.light_mode {
  --bg: var(--bg-1);
  --surface: var(--bg-2);

  --text: var(--text-1);
  --text-secondary: var(--text-2);

  --border: var(--border-light);
  --shadow: var(--shadow-light);
}

/* modo escuro do site */
.dark_mode {
  --bg: var(--bg-1-dark);
  --surface: var(--bg-2-dark);

  --text: var(--text-1-dark);
  --text-secondary: var(--text-2-dark);

  --border: var(--border-dark);
  --shadow: var(--shadow-dark);
}

/* tema pokemon red */
.theme_red {
  --accent: #e11d48;
  --accent-hover: #9f1239;
  --accent-soft: rgba(225, 29, 72, .12);
}

/* tema pokémon blue */
.theme_blue {
  --accent: #2563eb;
  --accent-hover: #1d4ed8;
  --accent-soft: rgba(37, 99, 235, .12);
}

/* tema pokémon yellow */
.theme_yellow {
  --accent: #eab308;
  --accent-hover: #ca8a04;
  --accent-soft: rgba(234,179,8,.14);
}