
/* eliminar estilos padrões diferentes dos navegadores, por isso usar before e after */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte padronizada, pra deixar 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  background-color: white;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  min-height: 100vh;
}