/* cor de fundo ao container */
.fundo_main {
    background-color: var(--accent);
    transition: var(--tr-rapida);
}

.container_home {
    max-width: var(--container);
}

/* imagens */
.main_imagens {
    width: 100%;
    max-width: 300px;
    height: auto;

    margin: var(--esp-grande) 0;
}

/* media-query */
@media screen and (min-width: 768px) {
    .main_imagens {
        max-width: 400px;
        height: auto;
    }
}