/* cor de fundo ao container */
.fundo_main {
    background-color: var(--accent);
    transition: var(--tr-rapida);
}

/* imagens */
.main_imagens {
    width: 100%;
    max-width: 300px;
    height: auto;

    margin: var(--esp-grande) 0;
}