.container_aside {
    width: var(--container-aside);
    height: calc(100vh - var(--altura-topo));
    padding: var(--esp-medio);

    position: sticky;
    top: var(--altura-topo);

    display: flex;
    flex-direction: column;
    gap: var(--gap);

    background-color: var(--surface);
    letter-spacing: 1px;
    border-right: 5px solid var(--accent);
    text-transform: uppercase;
    transition: var(--tr-rapida);
    z-index: 100;
    overflow-y: hidden;

    /* esconder no mobile */
    /* transform: translateX(-100%); */

    /* scrollbar */
    /* firefox */
    scrollbar-width: none;

    /* antigos */
    -ms-overflow-style: none;
}

.container_aside:hover {
    overflow-y: auto;
}

.container_aside::-webkit-scrollbar {
    display: none;
    /* outros navegadores recentes */
}

/* titulo aside */
.h2_aside {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--pkm-h2);
    color: var(--text);
}

.h2_aside span {
    color: var(--accent);
}

/* container blocos aside */
.aside_bloco {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* label e input */
.label_busca {
    font-size: var(--fs-pequeno);
    color: var(--text);
}

.input_busca {
    padding: var(--esp-micro) var(--esp-pequeno);

    font-size: var(--fs-pequeno);
    border-radius: var(--radius-p);
    background-color: var(--bg);
    border: 2px solid var(--accent-hover);
    color: var(--text);
    outline: none;
}

/* botoes */
.aside_botao {
    all: unset;
    cursor: pointer;
    padding: var(--esp-micro);

    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: var(--fs-normal);
    color: var(--text);
    font-weight: 600;
}

.aside_botao span {
    color: var(--accent);
}

/* listas */
.aside_ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    list-style-type: none;
}

.aside_li {
    cursor: pointer;
    padding: var(--esp-micro) 0;
    padding-left: var(--esp-pequeno);
    display: flex;
    gap: 0.5rem;

    font-size: var(--fs-mini);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.aside_li span {
    color: var(--surface);
}

.aside_li:hover,
.aside_li:hover span {
    color: var(--accent);
}