.container_aside {
    width: var(--container-aside);
    padding: var(--esp-pequeno) var(--esp-medio);

    position: fixed;
    top: var(--altura-topo);
    bottom: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: var(--gap);

    background-color: var(--surface);
    letter-spacing: 1px;
    text-transform: uppercase;
    border-right: 5px solid var(--accent);

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* melhorar o scroll no chrome android */

    /* esconder no mobile */
    transform: translateX(-100%);

    /* scrollbar */
    /* firefox */
    scrollbar-width: none;

    /* antigos */
    -ms-overflow-style: none;
}

.container_aside::-webkit-scrollbar {
    display: none;
    /* outros navegadores recentes */
}

.fechar_aside {
    cursor: pointer;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    padding: 4px 8px;

    font-size: var(--pkm-h1-mobile);
    font-weight: 700;
    border: none;
    border-radius: var(--radius-p);
    background-color: var(--bg-hover);
    color: var(--text);
}

.fechar_aside:hover {
    background-color: var(--accent-hover);
    color: var(--accent-text);
    transition: var(--tr-rapida);
}


.aside_aberto {
    transform: translateX(0);
}

/* titulo aside */
.h2_aside {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: var(--pkm-h2);
    color: var(--text);
}

.icone_h2 {
    width: 25px;
    height: auto;
    color: var(--accent);
}

/* container blocos aside */
.aside_bloco {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.aside_bloco_lista {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* label e input */
.label_busca {
    font-size: var(--fs-pequeno);
    color: var(--text);
}

.input_busca {
    padding: var(--esp-pequeno);

    font-family: var(--font-pokemon);
    font-size: 10px;
    text-transform: uppercase;
    border-radius: var(--radius-p);
    background-color: var(--bg);
    border: 2px solid var(--accent-hover);
    color: var(--text);
    outline: none;
}

.sugestoes {
    max-height: 200px;
    overflow-y: auto;
    padding: var(--esp-micro);

    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border: 2px solid var(--accent-hover);
    border-radius: var(--radius-p);
}

.sugestoes_item {
    width: 100%;
    padding: var(--esp-micro) var(--esp-pequeno);

    font-family: var(--font-pokemon);
    color: var(--text);

    cursor: pointer;
}

.sugestoes_item:hover {
    background-color: var(--accent);
    color: var(--accent-text);

    border-bottom-color: var(--text);
    transition: var(--tr-rapida);
}

.resposta_vazia {
    padding: var(--esp-pequeno);

    font-family: var(--font-pokemon);
    color: var(--text);
    background-color: var(--bg);
    border-radius: var(--radius-p);
}

/* botoes */
.aside_item_desc {
    width: 14rem;
    padding: var(--esp-micro);

    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: var(--fs-pequeno);
    background-color: var(--accent-hover);
    color: var(--accent-text);
    font-weight: 600;
    border: 2px solid var(--text);
    border-radius: var(--radius-p);
}

.botao_ativado {
    width: 100%;
    max-width: 125px;

    background-color: var(--accent);
    border: 2px solid var(--accent-hover);
    color: var(--accent-text);
    transition: var(--tr-rapida);
}

.icone_area {
    width: 20px;
    height: auto;
}

/* listas */
.aside_ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    list-style-type: none;

}

.aside_li {
    cursor: pointer;
    padding: var(--esp-micro) 0;
    padding-left: var(--esp-pequeno);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: var(--fs-mini);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.selecionado {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--accent);
}

.selecionado .seta_icone {
    color: var(--accent);
}

.seta_icone {
    width: 15px;
    height: auto;
    color: transparent;
}

.aside_li:hover,
.aside_li:hover .seta_icone {
    color: var(--text);
}

/* media-query */
@media (max-width: 949px) {
    .container_aside {
        position: fixed;
        top: var(--altura-topo);
        bottom: 0;
        left: 0;

        transform: translateX(-100%);
        transition: var(--tr-aside);
        z-index: 999;
    }

    .aside_aberto {
        transform: translateX(0);
    }
}

@media (min-width: 950px) {
    .container_aside {
        position: sticky;

        top: var(--altura-topo);

        bottom: auto;
        max-height: calc(100vh - var(--altura-topo));

        transform: none;
        overflow-y: auto;
    }


    .fechar_aside {
        display: none;
    }
}