.container_aside {
    width: var(--container-aside);
    min-height: 100vh;
    padding: var(--esp-medio) var(--esp-pequeno);

    display: flex;
    flex-direction: column;
    gap: var(--gap);

    background-color: var(--accent);
    letter-spacing: 1px;
    border-right: 5px solid var(--accent-hover);
        text-transform: uppercase;

    /* esconder no mobile */
    /* transform: translateX(-100%); */
    transition: var(--tr-rapida);
    z-index: 100;

    position: relative;
    overflow: hidden;
}

/* titulo aside */
.h2_aside {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--pkm-h2);
    color: var(--accent-text);
}

/* container blocos aside */
.aside_bloco {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* label e input */
.label_busca {
    font-size: var(--fs-pequeno);
    color: var(--accent-text);
}

.input_busca {
    padding: var(--esp-micro) var(--esp-pequeno);

    font-size: var(--fs-pequeno);
    border-radius: var(--radius-p);
    background-color: var(--surface);
    border: 2px solid var(--text-secondary);
    color: var(--text);
    outline: none;
}

/* botoes */
.aside_botao {
    all: unset;
    cursor: pointer;
    padding: var(--esp-micro);

    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: var(--fs-normal);
    color: var(--accent-text);
    font-weight: 600;
}

.aside_botao span {
    color: var(--accent);
}

.aside_botao:hover span {
    color: var(--accent-text);
    transition: var(--tr-rapida);
}

/* listas */
.aside_ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    list-style-type: none;
}

.aside_li {
    cursor: pointer;
    padding: var(--esp-micro) 0;
    padding-left: var(--esp-medio);
    display: flex;
    gap: 0.5rem;

    font-size: var(--fs-mini);
    text-transform: uppercase;
    color: var(--accent-text);
}