.container_aside {
    width: var(--container-aside);
    height: calc(100vh - var(--altura-topo));
    padding: var(--esp-medio);

    position: fixed;
    top: var(--altura-topo);
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: var(--gap);

    background-color: var(--surface);
    letter-spacing: 1px;
    border-right: 5px solid var(--accent);
    text-transform: uppercase;
    transition: var(--tr-rapida);
    overflow-y: hidden;

    /* esconder no mobile */
    transform: translateX(-100%);

    /* scrollbar */
    /* firefox */
    scrollbar-width: none;

    /* antigos */
    -ms-overflow-style: none;
}

.aside_aberto {
    transform: translateX(0);
}

.container_aside:hover {
    overflow-y: auto;
}

.container_aside::-webkit-scrollbar {
    display: none;
    /* outros navegadores recentes */
}

/* titulo aside */
.h2_aside {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: var(--pkm-h2);
    color: var(--text);
}

.icone_h2 {
    width: 25px;
    height: auto;
    color: var(--accent);
}

/* container blocos aside */
.aside_bloco {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/* label e input */
.label_busca {
    font-size: var(--fs-pequeno);
    color: var(--text);
}

.input_busca {
    padding: var(--esp-micro) var(--esp-pequeno);

    font-size: var(--fs-pequeno);
    border-radius: var(--radius-p);
    background-color: var(--bg);
    border: 2px solid var(--accent-hover);
    color: var(--text);
    outline: none;
}

/* botoes */
.aside_botao {
    all: unset;
    cursor: pointer;
    padding: var(--esp-micro);

    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: var(--fs-pequeno);
    color: var(--text);
    font-weight: 600;
    border: 2px solid var(--surface);
    border-radius: var(--radius-p);
}

.botao_ativado {
    width: 100%;
    max-width: 125px;

    background-color: var(--accent);
    border: 2px solid var(--accent-hover);
    color: var(--accent-text);
    transition: var(--tr-rapida);
}

.icone_area {
    width: 20px;
    height: auto;
}

/* listas */
.aside_ul {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    list-style-type: none;

}

.lista_aberta {
    display: flex;
}

.aside_li {
    cursor: pointer;
    padding: var(--esp-micro) 0;
    padding-left: var(--esp-pequeno);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: var(--fs-mini);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.seta_icone {
    width: 15px;
    height: auto;
    color: var(--surface);
}

.aside_li:hover,
.aside_li:hover .seta_icone {
    color: var(--accent);
}

@media (max-width: 767px) {
    .container_aside {
        position: fixed;
        top: var(--altura-topo);
        left: 0;
        height: calc(100vh - var(--altura-topo));

        transform: translateX(-100%);
        transition: var(--tr-rapida);
        z-index: 999;
    }

    .aside_aberto {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .container_aside {
        position: sticky;
        transform: none;
    }
}