.center {
    display: flex;
    justify-content: center;
    background-color: var(--accent);
}

.container_pokemon {
    width: 100%;
    max-width: var(--container);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--esp-grande) var(--esp-padrao);

    background-color: var(--bg);
}

/* header */
.header_pokemon {
    display: flex;
    flex-direction: column;
    gap: var(--gap-grande);
}

.nav_pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.link_pokemon {
    padding: var(--esp-micro);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    background-color: var(--accent);
    color: var(--accent-text);
    letter-spacing: 1px;
    font-size: var(--fs-pequeno);

    border-radius: var(--radius-g);
    border: 2px solid var(--accent-hover);
}

.link_pokemon:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent);

    transition: var(--tr-rapida);
}

.link_icon {
    width: 10px;
    height: auto;
}

.h1_pokemon {
    align-self: center;

    font-family: var(--font-pokemon);
    font-size: var(--pkm-h1-mobile);
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--text);
}

/*  */